html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 You have received a message from someone interested in your listing
      p
          = message
      h2 You can reply directly to this message with the link below 
      p
         = from
      ul
        li Best Regards,
        li Roomies Team