 html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 It's your lucky day! You have won the brasilian lottery
      p
        strong Lorem ipsum dolor: 
        | Reply to this email providing your credit card numbers and we will charge you with a victory of 1 thousand milions dollars in swiss francs, divided by 5 euros.
        br
        |We will also send to you 5 bitches to your home.
      h2.h2 Just reply !
     
      ol
        li Best regards,
        li Roomies team